* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

/* HEADER */
.header {
  padding: 20px 40px 60px;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(255, 255, 255, 0.67);
  padding: 30px 40px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: #83237e;
}

nav a:hover {
  font-weight: bold;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand h3 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #E539AC;
}

.brand h3 span {
  color: #6435AC;
}

/* FORM CONTAINER */
.container {
  background: #ffc1e3;
  margin: 10px auto 40px;
  width: 480px;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  color: #444;
}

/* FORM INPUT */
.form-group {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 5px 0;
}

/* RADIO */
.radio-box {
  background: #fff;
  border-radius: 12px;
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-box label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.radio-box input[type="radio"] {
  width: 18px;
  height: 18px;
}

/* BUTTONS */
.form-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.btn-kirim,
.btn-batal {
  border: none;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 999px;
  font-weight: 700;
  font-size: 15px;
  color: white;
}

/* UPDATE */
.btn-kirim {
  background: #6b39c9;
}

/* BATAL */
.btn-batal {
  background: #dc3545;
}

/* PANAH */
.arrow,
.arrow-left {
  font-size: 18px;
  font-weight: bold;
}
